anyio==4.12.0
APScheduler==3.10.4
certifi==2026.1.4
et_xmlfile==2.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
openpyxl==3.1.5
packaging==25.0
pdf2image==1.17.0
pillow==12.1.0
PyPDF2==3.0.1
pytesseract==0.3.13
python-dotenv==1.2.1
python-telegram-bot==21.6
pytz==2025.2
six==1.17.0
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
